@{
    ViewBag.Title = "DashBoard";
    ViewBag.PageTitle = "Index";
    ViewBag.PageDescription = "DashBoard";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
    ViewBag.ControllerName = "DashBoard";
}

<br />
<br />

<div class="container">
    <div class="row">
        <h2>
            Welcome To Shop Bridge...
        </h2>
    </div>
</div>

